Source: openpanel-mod-lima
Section: misc
Priority: optional
Maintainer: OpenPanel packager <packages@openpanel.com
Build-Depends: debhelper (>= 5), libgrace-dbfile-dev, libgrace-dev, openpanel-mkmodulexml, openpanel-dev, libdb4.6-dev, libgdbm-dev
Standards-Version: 3.7.2

Package: openpanel-mod-lima
Architecture: any
Depends: openpanel-core (>= 0.8.3), openpanel-mod-user, openpanel-mod-domain, openpanel-mod-postfixcourier, libgrace-querido, lima
Description: OpenPanel module to configure theLIMA mailinglist service
 OpenPanel module for driving LIMA on top of Postfix.
